<app-home-nav></app-home-nav>
<div class="outer"></div>
<div class="container" id="container">
<div class="form-container sign-up-container">
<form action="#">
<h1>Sign Up</h1>
<div class="social-container">
<a href="#" class="social"><i class="bi bi-facebook"></i></a>
<a href="#" class="social"><i class="bi bi-google"></i></a>
<a href="#" class="social"><i class="bi bi-twitter"></i></a>
</div>
<span>Term & Conditions</span>
<input type="email" placeholder="Email" />
<input type="password" placeholder="Password" />
<a href="#">Forgot your password?</a>
<button>Sign Up</button>
</form>
</div>
<div class="form-container sign-in-container">
<img src="assets/register.svg" class="image-register" alt="" width="300px" height="300px" />
</div>
<div class="overlay-container">
<div class="overlay">
<div class="overlay-panel overlay-left">
<h1>Welcome Back!</h1>
<p>To keep connected with us please login with your personal info</p>
<button class="ghost" id="signIn">Sign In</button>
</div>
<div class="overlay-panel overlay-right">
<h3 style="padding-top: 30px;;">Create your Account</h3>

    <form style="margin-bottom: 10px; margin-top: 10px;">
      <input type="email" placeholder="Email" />
      <input type="username" placeholder="Username" />
            <input type="password" placeholder="Password" />
        <button>Sign Up</button>
    </form>
    <h6>OR</h6>
    <div class="social-container">
      <a href="#" class="social"><i class="bi bi-facebook"></i></a>
      <a href="#" class="social"><i class="bi bi-google"></i></a>
      <a href="#" class="social"><i class="bi bi-twitter"></i></a>
    </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>